set termguicolors

colorscheme oxocarbon

set relativenumber
set hidden
set nu
set nuw=6
set cursorline
set splitbelow
set splitright
set tabstop=4
set shiftwidth=2
set softtabstop=2
set expandtab
set mouse=a
set background=dark
set t_Co=256
set encoding=UTF-8
set foldmethod=indent
set foldnestmax=10
set nofoldenable
